.table-no-outer-borders {
    border-collapse: separate;
    border-spacing: 0;
}


.table-no-outer-borders th:first-child,
.table-no-outer-borders td:first-child {
    border-left: 0;
}

.table-no-outer-borders th:last-child,
.table-no-outer-borders td:last-child {
    border-right: 0;
}

.table-no-outer-borders tr:first-child td {
    border-top: 0;
}

.table-no-outer-borders tbody tr:last-child td {
    border-bottom: 0;
}

.table-responsive {
    padding: 0;
    padding-inline: 0.5rem;
    padding-bottom: 0rem;
    position: relative;
    /* Ajusta según sea necesario */
    overflow: auto;
}
.table-20{
    min-height: 20vh;
    height: 20vh !important;
    max-height: 20vh;
}
.table-23{
    min-height: 22.5vh;
    height: 22.5vh !important;
    max-height: 22.5vh;
}

.table-25{
    min-height: 25vh;
    height: 25vh !important;
    max-height: 25vh;
}

.table-30{
    min-height: 30vh;
    height: 30vh !important;
    max-height: 30vh;
}

.table-33{
    min-height: 33vh;
    height: 33vh !important;
    max-height: 33vh;
}
.table-40 {
    min-height: 40vh;
    height: 40vh !important;
    max-height: 40vh;
}

.table-45 {
    min-height: 45vh;
    height: 45vh !important;
    max-height: 45vh;
}


.table-50 {
    min-height: 50vh;
    height: 50vh !important;
    max-height: 50vh;
}
.table-60 {
    height: 60vh !important;
    max-height: 60vh;
}
.table-70 {
    max-height: 70vh;
}

.table-fixed-header thead th,
.table-fixed-header tfoot td {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Para asegurarse de que el encabezado se superponga */
}


.table-fixed-header tfoot th {
    position: sticky;
    bottom: 0;
    z-index: 1;
    /* Asegúrate de que el pie se superponga */
}

.table-fixed-header tbody td {

    top: 4rem;
}


.table-h100 {
    max-height: 75vh !important;
}

.highlight {
    background-color: rgba(150, 150, 150, .3);
}
