
@import url('./_variables.scss');
@import url('./_tables.scss');
@import url('../fonts/fonts.css');


*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none
}

.header {
    transition: .5s
}

.header_toggle {
    color: var(--white-color-txt);
    font-size: 2rem;
    cursor: pointer
}

.header_img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 60px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.bx-b{
    color: var(--black-color);
}

.bx-w{

    color: var(--white-color-txt);
}



.bx{
    font-size: 20px !important;
    cursor: pointer !important;
}


.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color-txt)
}

.nav_logo-name {
    color: var(--white-color-txt);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s

}

.nav_link:hover {
    color: var(--white-color-txt)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

// .body-pd {
//     padding-left: calc(var(--nav-width) + 1rem)
// }

.active {
    color: var(--white-color-txt)
}


.height-100 {
    padding-top: 1rem;
}

#body-pd{
    padding-left: calc(var(--nav-width));
}

@media screen and (min-width: 768px) {


    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header_img {
        width: 50px;
        height: 50px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show.l-navbar {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 156px) !important
    }


}


.no-bottom-round .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.scaled-switch-15 {
    transform: scale(1.5);
    transform-origin: top left;
}

.scaled-switch-20 {
    transform: scale(2);
    transform-origin: top left;
}

.custom-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 2rem;
}

.super-large-text {
    font-size: 4rem; /* Ajusta este valor según tus necesidades */
  }

.medium-large-text {
    font-size: 3rem; /* Ajusta este valor según tus necesidades */
}
.normal-large-text {
    font-size: 2rem; /* Ajusta este valor según tus necesidades */
}

.ff-clock{
    font-family: Clock;
}
.btn-arrow {
    position: relative;
    display: inline-block;
    width: 1rem; /* Ajusta el ancho del botón */
    height: 1rem; /* Ajusta la altura del botón */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cursor de mano */
    padding: 0; /* Sin padding */
  }

  .btn-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1;
    height: 1;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
  }

  .btn-arrow.down::after {
    border-top: 0.6rem solid var(--bs-secondary); /* Color de la flecha */
  }

  .btn-arrow.up::after {
    border-bottom: 0.6rem solid var(--bs-secondary); /* Color de la flecha */
  }

  .btn-arrow:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
  }


  .w-35{
    width: 35% !important;
  }

  .w-45{
    width: 45% !important;
  }

  .w-40{
    width: 40% !important;
  }
