body {
    border: solid 1px black;
}





.footer .page-number:after { content: counter(page); }






footer {
    position: fixed;
    bottom: -40px;
    left: 0px;
    right: 0px;
}

.content {
    page-break-after: always;
}

/* Estilo para pantalla */
.no-print {
    display: block;
}



.page-break {
    page-break-after: always;
}

hr {
    margin-top: 1px;
    border-width: 0.5px;

    opacity: 100;
}
.blue{
    color: blue;
}



.page {
    height: 100%;
    width: 100%;
    page-break-after: always;
    justify-content: center;
}
.anexos{
    margin-left:20mm;
}
.anexos ul{
    margin-left: 5mm;
}
td {
    text-align: left;
    width: fit-content; /* Permite que las celdas ajusten su ancho al contenido */
}

.border-darkblue, .table-general td{
    border: solid 0.5px darkblue;
}

.border-black-1{
    border: solid 0.5px var(--black-color);
}
.bg-darkblue{
    background-color: darkblue;
}


.txt-small{
    font-size: 7pt;
}

.table-anexos td{

    border: solid 0.1pt #202020;
    text-align: center;
    text-decoration: none;
}

.fs-10{
    font-size: 10pt;
}

.fs-10px
{
    font-size: 10px;
}
.fs-12px
{
    font-size: 12px;
}
.no-line-spacing {
    line-height: 1.2; /* Elimina el espacio extra entre líneas */
    margin: 0; /* Elimina el margen alrededor del párrafo */
}
