@import url('./_variables.scss');

.bx-b{
    color: var(--black-color);
}

.bx-w{

    color: var(--white-color-txt);
}

.bx{
    font-size: 20px !important;
    cursor: pointer !important;
}

.width-5{
    width: 50% !important;
}

.fit-content{
    width: 40%;
}

.table-responsive {
    padding: 0;
    padding-inline:0.5rem;
    position: relative;
    height: 17rem; /* Ajusta según sea necesario */
    overflow: auto;
}
.table-fixed-header thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Fondo del thead */
    z-index: 1; /* Para asegurarse de que el encabezado se superponga */
}

.table-fixed-header tbody td {

    top: 4rem;
    background-color: #fff; /* Fondo del thead */
    z-index: 1; /* Para asegurarse de que el encabezado se superponga */
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    display: none;
}
