@import url('./_variables.scss');

.bx-b{
    font-size: 25px !important;
    cursor: pointer !important;
    text-decoration: none;
    color: var(--black-color);
}

.bx-w{
    font-size: 20px !important;
    color: var(--white-color-txt);
}

.width-5{
    width: 50% !important;
}

.fit-content{
    width: 40%;
}
